streamlit
pypdf
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
tiktoken
huggingface-hub
langchain-core
torch  
